@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

*
{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
text-transform: capitalize;
scroll-behavior: smooth;
text-decoration: none;
font-weight: normal;
}

img 
{
max-width: 100%;
height: auto;
}

body 
{
min-height: 100vh;
overflow-x: hidden;
background-color: rgb(0, 0, 0);
background-attachment: unset;
background-size: cover;
background-attachment: fixed;
}

section img#logo
{

position: absolute;
transform: translateY(-25px);
max-width: 100;
opacity: 100%;
right: 20%;
transition: all 3s ease;
}

@media only screen and (max-width: 500px) {
img#logo{
padding-top: 420px;
max-width: 100%;
transition: all 3s ease;

  }
}

#menu-btn
{
position: fixed;
top: 20px;
left: 30px;
height: 50px;
width: 50px;
line-height: 50px;
border-radius: 50%;
font-size: 20px;
cursor: pointer;
background: rgba(170, 170, 170, 0.637);
color: rgb(0, 0, 0);
text-align: center;
z-index: 1000;
}
#menu-btn.fa-times
{
  transform: rotate(180deg);
  background: rgba(255, 255, 255, 0.5);
  color: rgb(0, 0, 0);
}
.navbar
{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 100%;
  width: 100%;
  background-image: url(../img/elvis3.jpg);
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  padding-bottom: 50px;
  clip-path: circle(0% at 95.3% 8.5%);
  max-width: 100%;
  opacity: 100%;
}

@media screen and (max-width: 500px) {
.navbar{
  max-width: 100%;
 }
}
.navbar.active
{
  clip-path: circle(140% at 95.3% 8.5%);
}
.navbar a
{
 font-size: 20px;
 padding-bottom: 30px;
 color: #000;
}

.navbar a::before
{
 content: attr(data-text);
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 font-size: 3em;
 color: #000;
 pointer-events: none;
 font-weight: bolder;
 letter-spacing: .4em;
 opacity: 0;
 z-index: -1;
}

.navbar a:hover::before
{
  letter-spacing: 0em;
  opacity: .1;
}

.content
{
  position: fixed;
  padding: 100px 0;
  margin: 50px auto 0 auto;
}

#header
{
border-top: solid rgb(255, 255, 255) 5px;
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 10%;
padding: 30px 100px;
display: flex;
justify-content: space-between;
align-items: center;
z-index: 10000;
}

section 
{
background-image: url(../img/plano_de_fundo.gif);
background-position: center;
position: relative;
width: 100%;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
z-index: -1000;
}

section img 
{
position: absolute;
bottom: 0;
left: 0;
width: 100%;
pointer-events: none;
transition: all 3s ease;
}

section img#microfone
{
top: 100%;
position: absolute;
transform: translateY(0px);
max-width: 100%;
transition: all 3s ease;
}

.vinil{
  position: absolute;
  margin-top: -90px;
  z-index: -100;
  max-width: 100%;
  transition: all 3s ease; /*
  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
*/
}
section img#notas
{
top: 10%;  
position: absolute;
transform: translateY(5px);
z-index: -20;
max-width: 100%;
transition: all 3s ease;
}

section img#plano_fundo
{
margin-top: 10px;
position: absolute;
z-index: -20;
transform: translateY(50px); 
max-width: 100%;

transition: all 3s ea
}

section img#elvis
{  
top: 350px;
z-index: 10;
max-width: 100%;
position: absolute;
transform: translateY(-310px);
transition: all 3s ease;
animation: mymove 5s infinite;

}

 @media screen and (max-width: 500px) {
  section {
    background-image: url(../img/plano_de_fundo.gif);
    background-attachment: fixed;

    z-index: -100;
    transition: all 3s ease;
  }
}

@media screen and (max-width: 500px) {
  img#plano_fundo{
    height: 90%;
    max-width: 100%;

    transition: all 3s ease;
  }
}

@media screen and (max-width: 500px) {
  img#elvis{
    max-width: 100%;
    padding-top: 390px;
    transition: all 3s ease;
  }
}

@media screen and (max-width: 500px) {
  img#notas{
    max-width: 100%;
    padding-top: 45px;
    transition: all 3s ease;

  }
}

@media screen and (max-width: 500px) {
  img#microfone{
    max-width: 100%;
    display: block;
    transition: all 3s ease;
  }
}

@media only screen and (max-width:500px){
  img#vinil{
    margin-top: -15px;
    max-width: 100%;
    transition: all 3s ease;
  }
}

/* INÍCIO BIOGRAFIA*/

h1{
  border-style: dotted;
  background-color: rgb(0, 0, 0);
  position: relative;
  font-size: 1.5rem;
  font-family: 'Montserrat';
  font-weight: normal;
  color: rgba(255, 255, 255, 0.185);
  text-align: center;
  padding: 20px;
  }
  
  #artista, .wrapper{
    width: 100%;
    margin: 0 auto;
    max-width: 80rem;
    margin-top: 130px;
  }
  
  .cols{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 10px;
  }
  
  .col{
    width: calc(25% - 2rem);
    margin: 1rem;
    cursor: pointer;
  }
  
  .containerA{
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-perspective: 1000px;
    perspective: 1000px;
  }
  
  .front,
  .back{
    background-size: cover;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.25);
    border-radius: 10px;
    background-position: center;
    -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    text-align: center;
    min-height: 280px;
    height: auto;
    border-radius: 10px;
    color: #fff;
    font-size: .9rem;
  }
  
  .back{
    background: rgb(31, 31, 31);
    background: -webkit-linear-gradient(45deg,  rgba(190, 102, 20, 0.521) 100%);
    background: -o-linear-gradient(45deg,  rgba(190, 102, 20, 0.521)100%);
    background: linear-gradient(45deg,  rgba(190, 102, 20, 0.521)100%);
  }
  
  .front:after{
    position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      content: '';
      display: block;
      opacity: .6;
      background-color: #000;
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
      border-radius: 10px;
  }
  .containerA:hover .front,
  .containerA:hover .back{
      -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  }
  
  .back{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
  }
  
  .inner{
      -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
              transform: translateY(-50%) translateZ(60px) scale(0.94);
      top: 50%;
      position: absolute;
      left: 0;
      width: 100%;
      padding: 2rem;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      outline: 1px solid transparent;
      -webkit-perspective: inherit;
              perspective: inherit;
      z-index: 2;
  }
  
  .containerA .back{
      -webkit-transform: rotateY(180deg);
              transform: rotateY(180deg);
      -webkit-transform-style: preserve-3d;
              transform-style: preserve-3d;
  }
  
  .containerA .front{
      -webkit-transform: rotateY(0deg);
              transform: rotateY(0deg);
      -webkit-transform-style: preserve-3d;
              transform-style: preserve-3d;
  }
  
  .containerA:hover .back{
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
  }
  
  .containerA:hover .front{
    -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
  }
  
  .front .inner p{
    font-size: 2rem;
    margin-bottom: 2rem;
    position: relative;
  }
  
  .front .inner p:after{
    content: '';
    width: 4rem;
    height: 2px;
    position: absolute;
    background: #ffffff;
    display: block;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -.75rem;
  }
  
  .front .inner span{
    color: rgba(255,255,255,0.7);
    font-family: 'Montserrat';
    font-weight: 300;
  }
  
  @media screen and (max-width: 64rem){
    .col{
      width: calc(33.333333% - 2rem);
    }
  }
  
  @media screen and (max-width: 48rem){
    .col{
      width: calc(50% - 2rem);
    }
  }
  
  @media screen and (max-width: 32rem){
    .col{
      width: 100%;
      margin: 0 0 2rem 0;
    }
  }
  

/* INÍCIO MÚSICA */

:root {
  --surface-color: rgba(0, 0, 0, 0.493);
  --curve: 40;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin: 4rem 5vw;
  padding: 0;
  list-style-type: none;
  margin-top: 20px;
}

.card {
  position: relative;
  display: block;
  height: 100%;  
  border-radius: calc(var(--curve) * .1px);
  overflow: hidden;
  text-decoration: none;
}

.card__image {      
  width: 100%;
  height: auto;
}

.card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;      
  border-radius: calc(var(--curve) * 1px);    
  background-color: var(--surface-color);      
  transform: translateY(100%);
  transition: .2s ease-in-out;
}

.card:hover .card__overlay {
  transform: translateY(0);
}

.card__header {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 2em;
  border-radius: calc(var(--curve) * 1px) 0 0 0;    
  background-color: var(--surface-color);
  transform: translateY(-100%);
  transition: .2s ease-in-out;
}

.card__arc {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 100%;
  right: 0;      
  z-index: 1;
}

.card__arc path {
  fill: var(--surface-color);
  /**d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");*/
    
} 
.card:hover .card__header {
  transform: translateY(0);
}

.card__thumb {
  flex-shrink: 0;
  width: 50px;
  height: 50px;      
  border-radius: 50%;      
}

.card__title {
  font-size: 1em;
  margin: 0 0 .3em;
  color: #ffffff;
}

.card__tagline {
  display: block;
  margin: 1em 0;
  font-family: "MockFlowFont";  
  font-size: .8em; 
  color: #D7BDCA;  
}

.card__status {
  font-size: .8em;
  color: #D7BDCA;
}

.card__description {
  padding: 0 2em 2em;
  margin: 0;
  color: #D7BDCA;
  font-family: "MockFlowFont";   
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}  


/* INÍCIO VÍDEO */

.galeria{
position: relative;
min-height: 100vh;
background: rgb(0, 0, 0);
margin-top: 20px;
}

.galeria .video-galeria{
display: flex;
flex-wrap: wrap;
gap: 10px;
justify-content: center;
padding: 10px;
}

.galeria .video-galeria .video{
height: 250px;
width: 350px;
border: 5px solid rgb(22, 22, 22);
border-radius: 5px;
box-shadow: 0 5px 15px rgba(0, 0, 0, .7);
cursor: pointer;
overflow: hidden;
}

.galeria .video-galeria .video video{
height: 100%;
width: 100%;
object-fit: cover;
transition: .2s linear;
}

.galeria .video-galeria .video:hover video{
   transform: scale(1.1);
}

.galeria .popup-video{
position: fixed;
top: 0;
left: 0;
z-index: 100;
background: rgba(0,0,0, .8);
height: 100%;
width: 100%;
cursor: none;
}

.galeria .popup-video video{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 380px;
border-radius: 5px;
border: 3px solid #fff;
object-fit: cover;
}

.galeria .popup-video span{
position: absolute;
top: 5px;
right: 20px;
font-size: 50px;
color: #fff;
font-weight: bolder;
z-index: 100;
cursor: pointer;
}

@media (max-width:768px){
  .galeria .popup-video .video{
    width: 50%;
  }
}


/*INÍCIO WEBCAM*/

.graceland {
    position: relative;
    padding-bottom: 50%; 
    padding-top: 25px;
    height: 0;
    margin-top: 20px;
   
}
.graceland iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* INÍCIO FORMULÁRIO CONTATO */

input[type=text], select, textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid rgb(70, 70, 70);
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;

}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #6b6b6b;
  color: rgb(255, 255, 255);
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

.contato {
  background-image: url(../img/footer.jpg);
  background-position: center;
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
  opacity: 70%;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

/* INÍCIO REDES SOCIAIS */

.icon-bar {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: rgb(255, 255, 255);
  font-size: 20px;
  margin: 5px;
}

.icon-bar a:hover {
  background-color: rgb(254, 140, 0);
  opacity: 100%;
} 

.facebook {
  background: #000000;
  color: rgb(255, 255, 255);
  border-radius: 10px;
  opacity: 70%;
}

.twitter {
  background: #000000;
  color: rgb(255, 255, 255);
  border-radius: 10px;
  opacity: 70%;
}

.youtube {
  background: #000000;
  color: rgb(255, 255, 255);
  border-radius: 10px;
  opacity: 70%;
}

.whatsapp {
  background: #000000;
  color: rgb(255, 255, 255);
  border-radius: 10px;
  opacity: 70%;
}

@media screen and (max-width: 768px) {
  .icon-bar {
    width: 100%;
  }
}

/* INÍCIO BARRA DE ROLAGEM  */

::-webkit-scrollbar 
{
width: 10px;
background: rgb(0, 0, 0);
}

::-webkit-scrollbar-track 
{
box-shadow: inset 0 0 5px rgb(0, 0, 0);
border-radius: 10px;
}

::-webkit-scrollbar-thumb 
{
background: rgb(211, 121, 4);
border-radius: 20px;
}

/* INÍCIO FOOTER */

.footer 
{
background: rgb(0, 0, 0);
left: 0;
bottom: 0;
width: 100%;
color: rgb(255, 255, 255);
text-align: center;
font-size: 10px;
padding: 20px;
}

.h2 p
{
  position: relative;
  text-align: center;
  font-size: 100px;
  background-color: rgba(0, 0, 0, 0.205);
  color: rgb(0, 0, 0);
  margin-top: 20px;
  margin: 0 20px;
}

@media screen and (max-width: 500px) {
  .footer {
    width: 100%;
  }
}
.footer-social
{
  background-color: rgb(123, 123, 123);
}
/*
.icon-bar {
  position: absolute;
  top: 50%;
  right: 0px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: rgb(255, 255, 255);
  font-size: 20px;
}*/

.facebook1 {
  background: #000000;
  color: rgb(255, 255, 255);
  border-radius: 0;
  margin:0 1em 0 0;
}

.twitter1 {
  background: #000000;
  color: white;
  border-radius: 0;
  margin:0 1em 0 0;
}

.youtube1 {
  background: #000000;
  color: white;
  border-radius: 0;
  margin:0 1em 0 0;
}

.whatsapp1 {
  background: #000000;
  color: white;
  border-radius: 0;
  margin: 0 1em 0 0;
}

@media screen and (max-width: 580px) {
  .icon-bar {
    max-width: 20%;
  }
}


/* BOTÃO TOPO */

.voltar-ao-topo {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 25px;
  color: #FFF;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  height: 35px;
  padding: 0px 10px 40px 10px;
  position: fixed;
  bottom: 15px;
  right: 47%;
  text-align: center;
  margin: 0 auto;
  z-index: 999;
}
.voltar-ao-topo:hover {
  background-color: rgb(254, 140, 0);
  color: rgb(0, 0, 0);
}
@media screen and (max-width: 500px) {
  .voltar-ao-topo{
    max-width: 100%;
   }
  }

  

  @media screen and (max-width: 500px) {
body{
  background-color: rgb(0, 0, 0);
}
  }
  
  @media screen and (max-width: 500px) and (pixel-ratio: 2){
    body{
      background-color: rgb(0, 0, 0);
  }
}
