@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

*
{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
text-transform: capitalize;
scroll-behavior: smooth;
text-decoration: none;
font-weight: normal;
}

img 
{
max-width: 100%;
height: auto;
}

body 
{
min-height: 100vh;
overflow-x: hidden;
background-color: #00182A;
background-attachment: unset;
background-size: cover;
background-attachment: fixed;

}

section img#logo
{

position: absolute;
transform: translateY(-30px);
max-width: 100;
opacity: 100%;
right: 20%;
transition: all 3s ease;
opacity: 70%;
}

@media only screen and (max-width: 500px) {
img#logo{
padding-top: 420px;
max-width: 100%;
transition: all 3s ease;

  }
}

#menu-btn
{
position: fixed;
top: 20px;
left: 30px;
height: 50px;
width: 50px;
line-height: 50px;
border-radius: 50%;
font-size: 20px;
cursor: pointer;
background: rgba(170, 170, 170, 0.637);
color: rgb(0, 0, 0);
text-align: center;
z-index: 1000;
}
#menu-btn.fa-times
{
  transform: rotate(180deg);
  background: rgba(255, 255, 255, 0.5);
  color: rgb(0, 0, 0);
}
.navbar
{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 100%;
  width: 100%;
  background-image: url(../img/elvis3.png);
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  padding-bottom: 50px;
  clip-path: circle(0% at 95.3% 8.5%);
  max-width: 100%;
  opacity: 100%;
}

@media screen and (max-width: 500px) {
.navbar{
  max-width: 100%;
  opacity: 100%;
 }
}
.navbar.active
{
  clip-path: circle(140% at 95.3% 8.5%);
}
.navbar a
{
 font-size: 20px;
 padding-bottom: 30px;
 color: rgb(255, 255, 255);
}

.navbar a::before
{
 content: attr(data-text);
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 font-size: 3em;
 color: rgb(0, 0, 0);
 pointer-events: none;
 font-weight: bolder;
 letter-spacing: .4em;
 opacity: 0;
 z-index: -1;
}

.navbar a:hover::before
{
  letter-spacing: 0em;
  opacity: .1;
}

@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }
  
  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 100vw;
    height: 92vh;
    background: rgb(8, 38, 73);
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
    z-index: 1000;
    
  }

  .nav-list li {
    margin-left: 0;
    opacity: 0;

  }

  .mobile-menu {
    display: block;
  }
}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}

.content
{
  position: fixed;
  padding: 100px 0;
  margin: 50px auto 0 auto;
}

#header
{
border-top: solid rgb(255, 255, 255) 5px;
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 10%;
padding: 30px 100px;
display: flex;
justify-content: space-between;
align-items: center;
z-index: 10000;
}

section 
{
background-image: url(../img/fumaca.gif);
background-attachment: fixed;
background-position: center;
position: relative;
width: 100%;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
z-index: -1000;
}

section img 
{
position: absolute;
bottom: 0;
left: 0;
width: 100%;
pointer-events: none;
transition: all 3s ease;
}

section img#microfone
{
top: 100%;
position: absolute;
transform: translateY(10px);
padding-top: 220px;
max-width: 100%;
transition: all 3s ease;
z-index: -100;
opacity: 70%;
}

.vinil{
  position: absolute;
  margin-top: -90px;
  z-index: -100;
  max-width: 100%;
  transition: all 3s ease; 
}
section img#piso
{
top: 10%;  
position: absolute;
transform: translateY(5px);
z-index: -1000;
max-width: 100%;
transition: all 3s ease;
}

section img#plano_fundo
{
margin-top: 10px;
position: absolute;
z-index: 100;
transform: translateY(-10px); 
max-width: 100%;
transition: all 3s ea
}

section img#elvis
{  
top: 350px;
z-index: 100;
max-width: 100%;
position: absolute;
transform: translateY(-250px);
transition: all 3s ease;
animation: mymove 5s infinite;

}

 @media screen and (max-width: 500px) {
  section {
    background-image: url(../img/fumaca.gif);
    background-attachment: fixed;
    z-index: -100;
    transition: all 3s ease;
    z-index: -1000;
  }
}

@media screen and (max-width: 500px) {
  img#plano_fundo{
    max-width: 100%;
    padding-top: 390px;    
    transition: all 3s ease;
  }
}

@media screen and (max-width: 999px) {
  img#elvis{
    max-width: 100%;
    padding-top: 435px;    
    transition: all 3s ease;
  }
}

@media screen and (max-width: 500px) {
  img#piso{
    max-width: 100%;
    padding-top: 380px;    
    transition: all 3s ease;
  }
}
/* INÍCIO BIOGRAFIA */

h1{
  border-style: double;
  background-color: #00182A;
  position: relative;
  font-size: 1.5rem;
  font-family: 'Montserrat';
  font-weight: normal;
  color: #3C5466;
  text-align: center;
  padding: 20px;
  }
  
  h3{
    padding: 40px;
    font-size: .7rem;
    }
    
    h4{
      background-color: #3C5466;
      position: relative;
      font-size: 1.5rem;
      font-family: 'Montserrat';
      font-weight: normal;
      color: #3C5466;
      text-align: center;
      }


  #artista, .wrapper{
    width: 100%;
    margin: 0 auto;
    max-width: 80rem;
    margin-top: 130px;
  }
  
  .cols{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 10px;
  }
  
  .col{
    width: calc(25% - 2rem);
    margin: 1rem;
    cursor: pointer;
  }
  
  .containerA{
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-perspective: 1000px;
    perspective: 1000px;
  }
  
  .front,
  .back{
    background-size: cover;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.25);
    border-radius: 10px;
    background-position: center;
    -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    text-align: center;
    min-height: 280px;
    height: auto;
    border-radius: 10px;
    color: #fff;
    font-size: .9rem;
  }
  
  .back{
    background: rgb(31, 31, 31);
    background: -webkit-linear-gradient(45deg,  rgba(190, 102, 20, 0.521) 100%);
    background: -o-linear-gradient(45deg,  rgba(190, 102, 20, 0.521)100%);
    background: linear-gradient(45deg,  rgba(190, 102, 20, 0.521)100%);
  }
  
  .front:after{
    position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      content: '';
      display: block;
      opacity: .6;
      background-color: #000;
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
      border-radius: 10px;
  }
  .containerA:hover .front,
  .containerA:hover .back{
      -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  }
  
  .back{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
  }
  
  .inner{
      -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
              transform: translateY(-50%) translateZ(60px) scale(0.94);
      top: 50%;
      position: absolute;
      left: 0;
      width: 100%;
      padding: 2rem;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      outline: 1px solid transparent;
      -webkit-perspective: inherit;
              perspective: inherit;
      z-index: 2;
  }
  
  .containerA .back{
      -webkit-transform: rotateY(180deg);
              transform: rotateY(180deg);
      -webkit-transform-style: preserve-3d;
              transform-style: preserve-3d;
  }
  
  .containerA .front{
      -webkit-transform: rotateY(0deg);
              transform: rotateY(0deg);
      -webkit-transform-style: preserve-3d;
              transform-style: preserve-3d;
  }
  
  .containerA:hover .back{
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
  }
  
  .containerA:hover .front{
    -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
  }
  
  .front .inner p{
    font-size: 2rem;
    margin-bottom: 2rem;
    position: relative;
  }
  
  .front .inner p:after{
    content: '';
    width: 4rem;
    height: 2px;
    position: absolute;
    background: #ffffff;
    display: block;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -.75rem;
  }
  
  .front .inner span{
    color: rgba(255,255,255,0.7);
    font-family: 'Montserrat';
    font-weight: 300;
  }
  
  @media screen and (max-width: 64rem){
    .col{
      width: calc(33.333333% - 2rem);
    }
  }
  
  @media screen and (max-width: 48rem){
    .col{
      width: calc(50% - 2rem);
    }
  }
  
  @media screen and (max-width: 32rem){
    .col{
      width: 100%;
      margin: 0 0 2rem 0;
    }
  }
  

/* INÍCIO MÚSICA */

:root {
  --surface-color: rgba(0, 0, 0, 0.493);
  --curve: 40;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin: 4rem 5vw;
  padding: 0;
  list-style-type: none;
  margin-top: 20px;
}

.card {
  position: relative;
  display: block;
  height: 100%;  
  border-radius: calc(var(--curve) * .1px);
  overflow: hidden;
  text-decoration: none;
}

.card__image {      
  width: 100%;
  height: auto;
}

.card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;      
  border-radius: calc(var(--curve) * 1px);    
  background-color: var(--surface-color);      
  transform: translateY(100%);
  transition: .2s ease-in-out;
}

.card:hover .card__overlay {
  transform: translateY(0);
}

.card__header {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 2em;
  border-radius: calc(var(--curve) * 1px) 0 0 0;    
  background-color: var(--surface-color);
  transform: translateY(-100%);
  transition: .2s ease-in-out;
}

.card__arc {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 100%;
  right: 0;      
  z-index: 1;
}

.card__arc path {
  fill: var(--surface-color);
  /**d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");*/
    
} 
.card:hover .card__header {
  transform: translateY(0);
}

.card__thumb {
  flex-shrink: 0;
  width: 50px;
  height: 50px;      
  border-radius: 50%;      
}

.card__title {
  font-size: 1em;
  margin: 0 0 .3em;
  color: #ffffff;
}

.card__tagline {
  display: block;
  margin: 1em 0;
  font-family: "MockFlowFont";  
  font-size: .8em; 
  color: #ffffff;  
}

.card__status {
  font-size: .8em;
  color: #ffffff;
}

.card__description {
  padding: 0 2em 2em;
  margin: 0;
  color: #ffffff;
  font-family: "MockFlowFont";   
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}  


/* INÍCIO VÍDEO */
.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}




/*INÍCIO WEBCAM*/

.graceland {
    position: relative;
    padding-bottom: 50%; 
    padding-top: 25px;
    height: 0;
    margin-top: 20px;
   
}
.graceland iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* INÍCIO FORMULÁRIO CONTATO */

input[type=text], select, textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid rgb(70, 70, 70);
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;

}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #6b6b6b;
  color: rgb(255, 255, 255);
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

.contato {
  background-image: url(../img/footer.jpg);
  background-position: center;
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
  opacity: 70%;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

/* INÍCIO REDES SOCIAIS */

.icon-bar {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: #3C5466;;
  font-size: 20px;
  margin: 5px;
}

.icon-bar a:hover {
  background-color: rgb(255, 255, 255);
  opacity: 100%;
} 

.facebook {
  background: #00182A;
  color: rgb(255, 255, 255);
  border-radius: 10px;
  opacity: 100%;
}

.linkedin {
  background: #00182A;
  color: rgb(255, 255, 255);
  border-radius: 10px;
  opacity: 100%;
}

.youtube {
  background: #00182A;
  color: rgb(255, 255, 255);
  border-radius: 10px;
  opacity: 100%;
}

.whatsapp {
  background: #00182A;
  color: rgb(255, 255, 255);
  border-radius: 10px;
  opacity: 100%;
}

@media screen and (max-width: 768px) {
  .icon-bar {
    width: 100%;
  }
}

/* INÍCIO BARRA DE ROLAGEM */

::-webkit-scrollbar 
{
width: 10px;
background: rgb(0, 0, 0);
}

::-webkit-scrollbar-track 
{
box-shadow: inset 0 0 5px rgb(0, 0, 0);
border-radius: 10px;
}

::-webkit-scrollbar-thumb 
{
background: rgb(255, 255, 255);
border-radius: 20px;
}

/* INÍCIO FOOTER */

.footer 
{
background: #3C5466;
left: 0;
bottom: 0;
width: 100%;
color: #3C5466;
text-align: center;
font-size: 10px;
padding: 20px;
}

.h2 p
{
  position: relative;
  text-align: center;
  font-size: 100px;
  background-color: rgba(0, 0, 0, 0.205);
  color: rgb(0, 0, 0);
  margin-top: 20px;
  margin: 0 20px;
  
}

@media screen and (max-width: 500px) {
  .footer {
    width: 100%;
  }
}
.footer-social
{
  background-color: #fff;

}
/*
.icon-bar {
  position: absolute;
  top: 50%;
  right: 0px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: rgb(255, 255, 255);
  font-size: 20px;
}*/

.facebook1 {
  background: #3C5466;
  color: #00182A;
  border-radius: 0;
  margin:0 1em 0 0;
}

.linkedin1 {
  background: #3C5466;
  color: #00182A;
  border-radius: 0;
  margin:0 1em 0 0;
}

.youtube1 {
  background: #3C5466;
  color: #00182A;
  border-radius: 0;
  margin:0 1em 0 0;
}

.whatsapp1 {
  background: #3C5466;
  color: #00182A;
  border-radius: 0;
  margin: 0 1em 0 0;
}

@media screen and (max-width: 580px) {
  .icon-bar {
    max-width: 20%;
  }
}


/* BOTÃƒO TOPO */

.voltar-ao-topo {
  background-color: #3C5466;
  border-radius: 25px;
  color: rgb(0, 0, 0);
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  height: 35px;
  padding: 0px 10px 40px 10px;
  position: fixed;
  bottom: 15px;
  right: 47%;
  text-align: center;
  margin: 0 auto;
  z-index: 999;
}
.voltar-ao-topo:hover {
  background-color: rgb(255, 255, 255);
  color: #3C5466;
}
@media screen and (max-width: 500px) {
  .voltar-ao-topo{
    max-width: 100%;
   }
  }

  



  







  


  @import url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/584938/library.less");
  @import url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/584938/variables.less");
  

  
  .container-fluid {

    width: 100%;
    
    @media (max-width: 530px) {
      left: 0;
      margin: 10px 0;
      position: relative;
      top: 0;
      transform: none;
    }
  }
  
  .blog-card {
    background-color: white;
    border-radius: 1px;
    box-shadow: 0 0 2px -1px rgba(0, 0, 0, 0.75);
    height: 450px;
    margin: 0 auto;
    max-width: 600px;
    overflow: hidden;
    
    @media (max-width: 580px) {
      height: 350px;
      overflow: visible;
    }
  }
  
  .media {
    background-position: center;
    background-size: cover;
    height: 100%;
  }
  
  .card-body {

    height: 100%;
    padding: 30px 20px 50px;
    
    @media (max-width: 530px) {
      background-color: white;
    }
  }
  
  .tagline {
    font-size: 8px;
    text-transform: uppercase;
  }
  
  .title {
    font-family: "Playfair Display SC";
    font-size: 30px;
    font-weight: 400;
  }
  
  .divider {
    
    height: 2px;
    margin: 25px auto;
    width: 40px;
  }
  
  .paragraph {
    font-weight: 300;
  }
  
  .read-more {
    bottom: 25px;

    cursor: pointer;
    left: 50%;
    padding: 5px;
    position: absolute;
    text-decoration: none;
    top: auto;
    transform: translateX(-50%);
    

      text-decoration: none;
    }

  
  @media (max-width: 530px) {
    .col-xs-6 {
      width: 100%;
    }
  }












  .container3 {
    display: flex;
    height: 100vh;
    padding: 20px;
  }
  
  .section3 {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    color: #fff;
    transition: flex .4s ease;
    position: relative;
  }
  
  .section3 .overlay {
    background-color: rgba(78, 78, 78, 0.308);
    width: 100%;
    height: 100%;
    position: absolute;
    transition: background-color .8s ease;
  }
  
  .section3 .content {
    z-index: 2;
  }
  
  .section3:hover {
    flex: 2;
  }
  
  .section3:hover .overlay {
    background-color: rgba(0, 0, 0, 0.13);
  }
  
  #missao {
    background-image: url(https://images.unsplash.com/photo-1522205987242-8e22924ab42a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c0f679eb8f15705d46ea90008f39642b&auto=format&fit=crop&w=500&q=60);
    
  }
  
  
  #visao {
    background-image: url(https://images.unsplash.com/photo-1530893609608-32a9af3aa95c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=fe6b92f88f55824e64a1bae15f5bf52a&auto=format&fit=crop&w=500&q=60);
  }
  
  #valores {
    background-image: url(https://images.unsplash.com/photo-1517799094725-e3453440724e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=353f3663a9fae75773d2942aeb37c2c8&auto=format&fit=crop&w=500&q=60);
  }


























  .kontext {
    width: 100%;
    height: 100%;
  }
  
  .kontext .layer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    visibility: hidden;
    /*box-shadow: 0px 0px 120px rgba( 0, 0, 0, 0.8 );*/
  }
  
  .kontext .layer.show {
    visibility: visible;
  }
  
  .kontext.capable {
    -webkit-perspective: 1000px;
       -moz-perspective: 1000px;
            perspective: 1000px;
  
    -webkit-transform-style: preserve-3d;
       -moz-transform-style: preserve-3d;
            transform-style: preserve-3d;
  }
  
  .kontext.capable .layer {
    -webkit-transform: translateZ( -100px );
       -moz-transform: translateZ( -100px );
            transform: translateZ( -100px );
  }
  
  .kontext.capable .layer.show {
    -webkit-transform: translateZ( 0px );
       -moz-transform: translateZ( 0px );
            transform: translateZ( 0px );
  }
  
  .kontext.capable.animate .layer.show.right {
    -webkit-animation: show-right 1s forwards ease;
       -moz-animation: show-right 1s forwards ease;
            animation: show-right 1s forwards ease;
  }
  
  .kontext.capable.animate .layer.hide.right {
    -webkit-animation: hide-right 1s forwards ease;
       -moz-animation: hide-right 1s forwards ease;
            animation: hide-right 1s forwards ease;
  }
  
  .kontext.capable.animate .layer.show.left {
    -webkit-animation: show-left 1s forwards ease;
       -moz-animation: show-left 1s forwards ease;
            animation: show-left 1s forwards ease;
  }
  
  .kontext.capable.animate .layer.hide.left {
    -webkit-animation: hide-left 1s forwards ease;
       -moz-animation: hide-left 1s forwards ease;
            animation: hide-left 1s forwards ease;
  }
  
  
  /* CSS animation keyframes */
  
  @-webkit-keyframes show-right {
    0%   { -webkit-transform: translateZ( -200px ); }
    40%  { -webkit-transform: translate( 40%, 0 ) scale( 0.8 ) rotateY( -20deg ); }
    100% { -webkit-transform: translateZ( 0px ); }
  }
  
  @-webkit-keyframes hide-right {
    0%   { -webkit-transform: translateZ( 0px ); visibility: visible; }
    40%  { -webkit-transform: translate( -40%, 0 ) scale( 0.8 ) rotateY( 20deg ); }
    100% { -webkit-transform: translateZ( -200px ); visibility: hidden; }
  }
  
  @-moz-keyframes show-right {
    0%   { -moz-transform: translateZ( -200px ); }
    40%  { -moz-transform: translate( 40%, 0 ) scale( 0.8 ) rotateY( -20deg ); }
    100% { -moz-transform: translateZ( 0px ); }
  }
  
  @-moz-keyframes hide-right {
    0%   { -moz-transform: translateZ( 0px ); visibility: visible; }
    40%  { -moz-transform: translate( -40%, 0 ) scale( 0.8 ) rotateY( 20deg ); }
    100% { -moz-transform: translateZ( -200px ); visibility: hidden; }
  }
  
  @keyframes show-right {
    0%   { transform: translateZ( -200px ); }
    40%  { transform: translate( 40%, 0 ) scale( 0.8 ) rotateY( -20deg ); }
    100% { transform: translateZ( 0px ); }
  }
  
  @keyframes hide-right {
    0%   { transform: translateZ( 0px ); visibility: visible; }
    40%  { transform: translate( -40%, 0 ) scale( 0.8 ) rotateY( 20deg ); }
    100% { transform: translateZ( -200px ); visibility: hidden; }
  }
  
  
  @-webkit-keyframes show-left {
    0%   { -webkit-transform: translateZ( -200px ); }
    40%  { -webkit-transform: translate( -40%, 0 ) scale( 0.8 ) rotateY( 20deg ); }
    100% { -webkit-transform: translateZ( 0px ); }
  }
  
  @-webkit-keyframes hide-left {
    0%   { -webkit-transform: translateZ( 0px ); visibility: visible; }
    40%  { -webkit-transform: translate( 40%, 0 ) scale( 0.8 ) rotateY( -20deg ); }
    100% { -webkit-transform: translateZ( -200px ); visibility: hidden; }
  }
  
  @-moz-keyframes show-left {
    0%   { -moz-transform: translateZ( -200px ); }
    40%  { -moz-transform: translate( -40%, 0 ) scale( 0.8 ) rotateY( 20deg ); }
    100% { -moz-transform: translateZ( 0px ); }
  }
  
  @-moz-keyframes hide-left {
    0%   { -moz-transform: translateZ( 0px ); visibility: visible; }
    40%  { -moz-transform: translate( 40%, 0 ) scale( 0.8 ) rotateY( -20deg ); }
    100% { -moz-transform: translateZ( -200px ); visibility: hidden; }
  }
  
  @keyframes show-left {
    0%   { transform: translateZ( -200px ); }
    40%  { transform: translate( -40%, 0 ) scale( 0.8 ) rotateY( 20deg ); }
    100% { transform: translateZ( 0px ); }
  }
  
  @keyframes hide-left {
    0%   { transform: translateZ( 0px ); visibility: visible; }
    40%  { transform: translate( 40%, 0 ) scale( 0.8 ) rotateY( -20deg ); }
    100% { transform: translateZ( -200px ); visibility: hidden; }
  }
  
  
  /* Dimmer */
  
  .kontext .layer .dimmer {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    visibility: hidden;
    background: transparent;
  }
  
    .kontext.capable.animate .layer .dimmer {
      -webkit-transition: background 1s ease;
         -moz-transition: background 1s ease;
              transition: background 1s ease;
    }
  
    .kontext.capable.animate .layer.hide .dimmer {
      visibility: visible;
      background: rgba( 0, 0, 0, 0.7 );
    }
  
  
  

  .layer {
    text-align: center;
    text-shadow: 1px 1px 0px rgba( 0, 0, 0, 0.1 );
  }
  
  .layer h2 {
    position: relative;
    top: 20%;
    margin: 0;
    font-size: 6.25em;
  }
  
  .layer p {
    position: relative;
    top: 20%;
    margin: 0;
  }
  
  .layer.one {
    background: #dc6c5f;
  }
  
  .layer.two {
    background: #95dc84;
  }
  
  .layer.three {
    background: #64b9d2;
  }
  
  .bullets {
    position: absolute;
    width: 100%;
    bottom: 20px;
    padding: 0;
    margin: 0;
    text-align: center;
  }
  
    .bullets li {
      display: inline-block;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      margin: 0 3px;
  
      background: rgba( 255, 255, 255, 0.5 );
      box-shadow: 0px 0px 4px rgba( 0, 0, 0, 0.2 );
      cursor: pointer;
  
      -webkit-tap-highlight-color: rgba( 0, 0, 0, 0 );
    }
  
      .bullets li:hover {
        background: rgba( 255, 255, 255, 0.8 );
      }
  
      .bullets li.active {
        cursor: default;
        background: #fff;
      }
  
  @media screen and (max-width: 400px) {
    body {
      font-size: 12px;
    }
  
    .layer h2 {
      font-size: 5em;
    }
  
    .bullets li {
      margin: 0 6px;
    }
  }
  
  




















































/* ESCRITORIO */

:root {
  --red: #3C5466;
  --cyan: #3C5466;
  --orange: #3C5466;
  --blue: #3C5466;
  --varyDarkBlue: hsl(234, 12%, 34%);
  --grayishBlue: hsl(229, 6%, 66%);
  --veryLightGray: #00182A;
  --weight1: 200;
  --weight2: 400;
  --weight3: 600;
}

.attribution { 
  font-size: 11px; text-align: center; 
}
.attribution a { 
  color: hsl(228, 45%, 44%); 
}

h1:first-of-type {
  font-weight: var(--weight1);
  color: var(--varyDarkBlue);

}

h1:last-of-type {
  color: var(--varyDarkBlue);
}

@media (max-width: 400px) {
  h1 {
      font-size: 1.5rem;
  }
}

.box p {
  color: var(--grayishBlue);
}

.box {
  border-radius: 5px;
  box-shadow: 0px 10px 20px -20px var(--grayishBlue);
  padding: 30px;
  margin: 20px;  
}

img {
  float: right;
}

@media (max-width: 450px) {
  .box {
      height: 200px;
  }
}

@media (max-width: 950px) and (min-width: 450px) {
  .box {
      text-align: center;
      height: 180px;
  }
}

.cyan {
  border-top: 3px solid var(--cyan);
}
.red {
  border-top: 3px solid var(--red);
}
.blue {
  border-top: 3px solid var(--blue);
}
.orange {
  border-top: 3px solid var(--orange);
}

h2 {
  color: var(--varyDarkBlue);
  font-weight: var(--weight3);
}


@media (min-width: 950px) {
  .row1-container {
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  .row2-container {
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .box-down {
      position: relative;
      top: 150px;
  }
  .box {
      width: 20%;
   
  }
  .header p {
      width: 30%;
  }
  
}







/* logo letras */

a {
  text-decoration: none;
  color: inherit;
  font-size: 24px;
}

p1 {
  font-weight: 700;
  text-align: center;
  font-size: 25px;
  font-family: Hack, sans-serif;
  text-transform: uppercase;
  background: linear-gradient(90deg, rgb(41, 36, 36), #fff, rgb(139, 136, 136));
  letter-spacing: 3px;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-repeat: no-repeat;
  background-size: 90%;
  animation: shine 3s linear infinite;
  position: relative;
  z-index: 1000;
}


@keyframes shine {
  0% {
    background-position-x: -500%;
  }
  100% {
    background-position-x: 500%;
  }
}


/* EQUIPE */
.wrapper {
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
}
div {
  display: block;
}
.saying_block.lucia {
  background-image: url(../img/lucia.jpeg);
}
.saying_block1 {
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.saying_block.lucia .saying_content {
  background-color: rgba(73, 90, 183, 0.479);
}
.saying_block .saying_content {
  width: 100%;
  height: 100%;
  text-align: center;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.saying_block .saying_content {
  width: 100%;
  height: 100%;
  text-align: center;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.saying_block .saying_content .text_box h2 {
  font-weight: normal;
  font-size: 20px;
  line-height: 50px;
  font-family: "Bitter", serif;
  font-style: italic;
  letter-spacing: 1px;
}
h3 {
  display: block;
  font-size: 1.5em;
  -webkit-margin-before: 0.83em;
  -webkit-margin-after: 0.83em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
  color: #000;
}
.saying_block .saying_content .text_box h3 {
  font-size: 15px;
  letter-spacing: 15px;
  font-weight: normal;
  padding: 30px 0 20px 0;
}

h3 {
  display: block;
  font-size: 1.17em;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
}
.saying_block .saying_content .text_box p {
  font-size: 12px;
  letter-spacing: 2px;
  padding: 20px 0 20px 0;
  opacity: 0.7;
}
p {
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}
.saying_block.jose {
  background-image: url(../img/jose.jpg);
}

.saying_block.jose .saying_content {
  background-color: rgba(0, 0, 0, 0.7);
}
.saying_block.meire {
  background-image: url(../img/capa3.jpg);
}
.saying_block.meire .saying_content {
  /* background-color: rgba(223, 168, 0, 0.7); */
  background-color: rgba(150, 122, 122, 0.479);
}

